# Ignoring everything by default. 
*

# Excluding loose files.
!README.md
!.gitignore

# Excluding folders
!home_automation/
!ingress/
!sync/
!analytics/

# Excluding docker-compose.yml in the folders above
!**/docker-compose.yml